Repository trezor/trezor-suite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: components build, components deploy dev, components test snapshots, components make snapshot references, suite-web build, suite-web deploy dev

Path conditions:
  components build: any of: packages/components/**/*, .gitlab-ci.yml
  components deploy dev: any of: packages/components/**/*, .gitlab-ci.yml
  components test snapshots: any of: packages/components/**/*, .gitlab-ci.yml
  components make snapshot references: any of: packages/components/**/*, .gitlab-ci.yml
  suite-web build: any of: packages/suite-web/**/*, .gitlab-ci.yml
  suite-web deploy dev: any of: packages/suite-web/**/*, .gitlab-ci.yml

fix titles
  packages/components/src/stories/components/other.js
Due: components build, components deploy dev, components test snapshots, components make snapshot references

eslint per package, suite-* eslint config extends suite config
  .eslintignore
  package.json
  packages/suite-desktop/.eslintignore
  packages/suite-desktop/.eslintrc.js
  packages/suite-native/.eslintignore
  packages/suite-native/.eslintrc.js
  packages/suite-web/.eslintignore
  packages/suite-web/.eslintrc.js
  packages/suite/.eslintignore
  packages/suite/.eslintrc.js
Due: suite-web build, suite-web deploy dev

update components readme
  packages/components/README.md
Due: components build, components deploy dev, components test snapshots, components make snapshot references

add lint script to each package
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite-web/package.json
  packages/suite/package.json
Due: suite-web build, suite-web deploy dev

lint some files
  packages/components/src/components/buttons/Button/index.tsx
  packages/suite/index.d.ts
  packages/suite/src/actions/RouterActions.ts
Due: components build, components deploy dev, components test snapshots, components make snapshot references

update readme
  README.md
  packages/components/README.md
Due: components build, components deploy dev, components test snapshots, components make snapshot references

add comment
  packages/suite/src/components/Preloader.tsx
Due: none

fix tests
  packages/components/src/components/Header/index.tsx
  packages/components/src/components/Loader/index.tsx
  packages/components/src/components/Prompt/index.tsx
Due: components build, components deploy dev, components test snapshots, components make snapshot references

add translations manager
  .gitignore
Due: none

add svg support for ios
  packages/suite-native/ios/TrezorSuite.xcodeproj/project.pbxproj
  yarn.lock
Due: none

fix paths
  packages/components/src/components/Icon/index.native.tsx
Due: components build, components deploy dev, components test snapshots, components make snapshot references

add script
  packages/suite-web/package.json
Due: suite-web build, suite-web deploy dev

better ci
  .gitlab-ci.yml
  packages/suite-web/package.json
Due: components build, components deploy dev, components test snapshots, components make snapshot references, suite-web build, suite-web deploy dev

fix ci workspace name
  .gitlab-ci.yml
Due: components build, components deploy dev, components test snapshots, components make snapshot references, suite-web build, suite-web deploy dev

Update README.md
  README.md
Due: none

install only when needed
  .gitlab-ci.yml
Due: components build, components deploy dev, components test snapshots, components make snapshot references, suite-web build, suite-web deploy dev

fix eslint in components
  packages/components/.eslintrc
Due: components build, components deploy dev, components test snapshots, components make snapshot references

try to split env variables
  .gitlab-ci.yml
Due: components build, components deploy dev, components test snapshots, components make snapshot references, suite-web build, suite-web deploy dev

update typescript for Icon
  packages/components/src/components/Icon/index.tsx
Due: components build, components deploy dev, components test snapshots, components make snapshot references

fix coin selection bug
  src/views/Wallet/views/WalletSettings/components/Coins/index.js
Due: none

install peer dependency manually
  .gitlab-ci.yml
Due: components build, components deploy dev, components test snapshots, components make snapshot references, suite-web build, suite-web deploy dev

install peer as dev
  .gitlab-ci.yml
  packages/components/package.json
Due: components build, components deploy dev, components test snapshots, components make snapshot references, suite-web build, suite-web deploy dev

make references manual step, fix env
  .gitlab-ci.yml
Due: components build, components deploy dev, components test snapshots, components make snapshot references, suite-web build, suite-web deploy dev

change absolute paths to relative
  packages/components/src/components/Icon/index.tsx
Due: components build, components deploy dev, components test snapshots, components make snapshot references

update changelog
  packages/components/CHANGELOG.md
Due: components build, components deploy dev, components test snapshots, components make snapshot references

remove console.log
  packages/suite/src/actions/RouterActions.ts
Due: none

update connect typescript
  trezor-connect-lib/index.d.ts
Due: none

remove comment flowtype
  packages/components/src/components/TrezorLogo/index.tsx
Due: components build, components deploy dev, components test snapshots, components make snapshot references

lint
  packages/components/src/components/Checkbox/index.native.tsx
  packages/components/src/components/CoinLogo/index.native.tsx
  packages/components/src/components/Header/index.native.tsx
  packages/components/src/components/Icon/index.native.tsx
  packages/components/src/components/Link/index.native.tsx
  packages/components/src/components/Loader/index.native.tsx
  packages/components/src/components/Modal/index.native.tsx
  packages/components/src/components/Notification/index.native.tsx
  packages/components/src/components/Switch/index.native.tsx
  packages/components/src/components/Textarea/index.native.tsx
  packages/components/src/components/TrezorImage/index.native.tsx
  packages/components/src/components/buttons/Button/index.native.tsx
  packages/components/src/components/inputs/Input/index.native.tsx
  packages/components/src/components/inputs/Pin/index.native.tsx
  packages/components/src/config/colors.ts
Due: components build, components deploy dev, components test snapshots, components make snapshot references

ignore lib folder
  packages/suite-native/metro.config.js
  yarn.lock
Due: none

simplified Router.goto action
  packages/suite/src/actions/RouterActions.ts
Due: none

lint
  packages/components/src/components/Checkbox/index.native.tsx
  packages/components/src/components/CoinLogo/index.native.tsx
  packages/components/src/components/Header/index.native.tsx
  packages/components/src/components/Icon/index.native.tsx
  packages/components/src/components/Link/index.native.tsx
  packages/components/src/components/Loader/index.native.tsx
  packages/components/src/components/Modal/index.native.tsx
  packages/components/src/components/Notification/index.native.tsx
  packages/components/src/components/Select/index.native.tsx
  packages/components/src/components/Switch/index.native.tsx
  packages/components/src/components/Textarea/index.native.tsx
  packages/components/src/components/Tooltip/index.native.tsx
  packages/components/src/components/TrezorImage/index.native.tsx
  packages/components/src/components/buttons/Button/index.native.tsx
  packages/components/src/components/inputs/Input/index.native.tsx
Due: components build, components deploy dev, components test snapshots, components make snapshot references

add react-native as peerDep and devDep
  packages/components/package.json
  yarn.lock
Due: components build, components deploy dev, components test snapshots, components make snapshot references

move constants from wallet
  packages/suite/src/actions/constants/blockchain.ts
  packages/suite/src/actions/constants/storage.ts
  packages/suite/src/actions/constants/suite.ts
  packages/wallet/src/actions/constants/blockchain.js
  packages/wallet/src/actions/constants/localStorage.js
Due: none

move SuiteWrapper to "common layer"
  packages/suite-web/pages/_app.tsx
  packages/suite/src/components/Preloader.tsx
  packages/suite/src/views/index.tsx
  packages/suite/src/views/wallet/index.tsx
  packages/suite/src/views/wallet/send/index.tsx
Due: suite-web build, suite-web deploy dev

update suite types
  packages/suite/src/types.ts
Due: none

rename support/routerhandler
  packages/suite/src/support/Router.tsx
Due: none

Components: Select: props should be optional
  packages/components/src/components/Select/index.tsx
Due: components build, components deploy dev, components test snapshots, components make snapshot references
