Repository trezor/trezor-suite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, components lint, components-storybook lint, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references, suite-web lint, suite-web build, suite-web deploy dev

install:
  stage: build
  image: cypress/base:10
  script:
  - yarn install --frozen-lockfile
  - $(yarn bin)/cypress cache path
  - $(yarn bin)/cypress cache list
  - $(yarn bin)/cypress verify

components lint:
  stage: test
  script:
  - yarn
  - yarn workspace @trezor/components lint

components-storybook lint:
  stage: test
  script:
  - yarn
  - yarn workspace @trezor/components-storybook lint

components-storybook build:
  stage: build
  script:
  - yarn
  - yarn workspace @trezor/components-storybook build
  artifacts:
    name: components-build-files
    expire_in: 15 minutes
    paths:
    - packages/components-storybook/build

components-storybook deploy dev:
  stage: deploy
  variables:
    PACKAGE_NAME: components-storybook
    DEPLOY_DIRECTORY: ${DEPLOY_BASE_DIR}/${PACKAGE_NAME}/${CI_BUILD_REF_NAME}
    DEPLOY_URL: ${DEV_SERVER_URL}/${PACKAGE_NAME}/${CI_BUILD_REF_NAME}
  dependencies:
  - components-storybook build
  environment:
    name: ${CI_BUILD_REF_NAME}
  ...

components-storybook test snapshots:
  image: cypress/base:10
  stage: test snapshots
  script:
  - env
  - yarn
  - CYPRESS_AUTH_USER=${CYPRESS_AUTH_USER} CYPRESS_AUTH_PASS=${CYPRESS_AUTH_PASS} CYPRESS_baseUrl=${DEV_SERVER_URL}/components-storybook/${CI_BUILD_REF_NAME} yarn workspace @trezor/components-storybook ci:test:snapshots
  artifacts:
  ...

components-storybook make snapshot references:
  image: cypress/base:10
  stage: test snapshots
  variables:
    PACKAGE_NAME: components
  script:
  - env
  - yarn
  ...

suite-web lint:
  stage: test
  script:
  - env
  - yarn
  - yarn workspace @trezor/suite-web lint

suite-web build:
  stage: build
  variables:
    PACKAGE_NAME: suite-web
  script:
  - yarn
  - assetPrefix=${DEV_SERVER_URL}/${PACKAGE_NAME}/${CI_BUILD_REF_NAME} yarn workspace @trezor/suite-web build
  artifacts:
    name: suite-web-build
    expire_in: 15 minutes
    paths:
    - $PACKAGE_PATH_SUITE_WEB/build

suite-web deploy dev:
  stage: deploy
  variables:
    PACKAGE_NAME: suite-web
    DEPLOY_DIRECTORY: ${DEPLOY_BASE_DIR}/suite-web/${CI_BUILD_REF_NAME}
    DEPLOY_URL: ${DEV_SERVER_URL}/${DEPLOY_DIRECTORY}
  dependencies:
  - suite-web build
  environment:
    name: ${CI_BUILD_REF_NAME}
    url: $BASE_REVIEW_URL/${CI_BUILD_REF_NAME}
  ...

fix build
  packages/suite-web/pages/ui/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

Components/fix/add feedback interface (#86)
  packages/components-storybook/src/stories/components/buttons.tsx
  packages/components-storybook/src/stories/components/form.tsx
  packages/components-storybook/src/stories/components/other.tsx
  packages/components-storybook/src/stories/components/text.tsx
  packages/components-storybook/test/integration/TrezorLogo.test.js
  packages/components/src/components/Notification/index.tsx
  packages/components/src/components/Textarea/index.native.tsx
  packages/components/src/components/Textarea/index.tsx
  packages/components/src/components/buttons/Button/index.native.tsx
  packages/components/src/components/buttons/Button/index.tsx
  packages/components/src/components/inputs/Input/index.native.tsx
  packages/components/src/components/inputs/Input/index.tsx
  packages/components/src/support/types/index.ts
  yarn.lock
Due: install, components lint, components-storybook lint, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references

Components/enhancement/all section for other (#88)
  packages/components-storybook/src/stories/components/other.tsx
  packages/components-storybook/test/integration/Other.test.js
  packages/components/src/components/Header/index.tsx
  packages/components/src/components/Loader/index.tsx
  packages/components/src/components/Prompt/index.tsx
  packages/components/src/index.ts
Due: install, components lint, components-storybook lint, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references

add files
  packages/suite/src/views/suite/InstallBridge/Container.js
  packages/suite/src/views/suite/InstallBridge/index.js
  packages/suite/src/views/suite/InstallBridge/index.messages.js
  packages/suite/src/views/suite/Landing/components/BetaDisclaimer/index.messages.ts
  packages/suite/src/views/suite/Landing/components/BetaDisclaimer/index.tsx
  packages/suite/src/views/suite/Landing/components/BrowserNotSupported/index.messages.ts
  packages/suite/src/views/suite/Landing/components/BrowserNotSupported/index.tsx
  packages/suite/src/views/suite/Landing/components/ConnectDevice/index.messages.ts
  packages/suite/src/views/suite/Landing/components/ConnectDevice/index.tsx
  packages/suite/src/views/suite/Landing/components/InitializationError/index.tsx
  packages/suite/src/views/suite/Landing/components/LandingWrapper/index.tsx
  packages/suite/src/views/suite/Landing/index.tsx
  packages/suite/src/views/suite/Version/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

fix build
  packages/components/src/components/LanguagePicker/index.native.tsx
  packages/components/src/components/TrezorLogo/index.native.tsx
  packages/suite-native/src/support/RouterHandler.tsx
  packages/suite/src/views/index.native.tsx
Due: install, components lint, components-storybook lint, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references, suite-web lint, suite-web build, suite-web deploy dev

fix input, textarea
  packages/components-storybook/src/stories/components/form.tsx
Due: components lint, components-storybook lint, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references

remove TODO
  packages/components/src/components/Select/index.tsx
Due: install, components lint, components-storybook lint, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references

fix checkbox
  packages/components-storybook/src/stories/components/form.tsx
  packages/components/src/components/Checkbox/index.tsx
Due: install, components lint, components-storybook lint, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references

add app config
  packages/suite/src/config/app.ts
Due: suite-web lint, suite-web build, suite-web deploy dev

create separate layout component
  packages/suite/src/components/Header/LanguagePicker/Container.ts
  packages/suite/src/components/Header/LanguagePicker/index.tsx
  packages/suite/src/components/Header/index.tsx
  packages/suite/src/views/Layout.tsx
  packages/suite/src/views/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

add more pages
  packages/suite-web/pages/bridge/index.tsx
  packages/suite-web/pages/settings/index.tsx
  packages/suite-web/pages/version/index.tsx
  packages/suite/src/components/Preloader.tsx
  packages/suite/src/components/landing/Error/index.tsx
  packages/suite/src/components/landing/Wrapper/index.tsx
  packages/suite/src/views/bridge/index.tsx
  packages/suite/src/views/index.tsx
  packages/suite/src/views/index2.tsx
  packages/suite/src/views/settings/index.tsx
  packages/suite/src/views/suite/InstallBridge/Container.js
  packages/suite/src/views/suite/InstallBridge/index.js
  packages/suite/src/views/suite/InstallBridge/index.messages.js
  packages/suite/src/views/suite/Landing/components/BetaDisclaimer/index.messages.ts
  packages/suite/src/views/suite/Landing/components/BetaDisclaimer/index.tsx
  packages/suite/src/views/suite/Landing/components/BrowserNotSupported/index.messages.ts
  packages/suite/src/views/suite/Landing/components/BrowserNotSupported/index.tsx
  packages/suite/src/views/suite/Landing/components/ConnectDevice/index.messages.ts
  packages/suite/src/views/suite/Landing/components/ConnectDevice/index.tsx
  packages/suite/src/views/suite/Landing/index.tsx
  packages/suite/src/views/suite/Version/index.tsx
  packages/suite/src/views/version/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

add connect device page
  packages/suite-web/static/images/macbook.png
  packages/suite/src/components/landing/ConnectDevice/index.messages.ts
  packages/suite/src/components/landing/ConnectDevice/index.tsx
  packages/suite/src/views/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

fix lint
  packages/components/src/components/LanguagePicker/index.native.tsx
Due: install, components lint, components-storybook lint, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references

tsconfig fix types, fix #61 extend reactselect types, fix notifications variant
  packages/components-storybook/.storybook/tsconfig.json
  packages/components-storybook/src/stories/components/notifications.tsx
  packages/components-storybook/src/stories/components/text.tsx
  packages/components/src/components/Select/index.tsx
Due: install, components lint, components-storybook lint, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references

make tests for icons and coins #103
  packages/components-storybook/src/stories/components/other.tsx
  packages/components-storybook/test/integration/Other.test.js
  packages/components/src/config/variables.ts
Due: install, components lint, components-storybook lint, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references

fix base font size
  packages/suite-web/pages/_document.tsx
  packages/suite/src/views/index.tsx
  packages/suite/src/views/version/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

finalized connect device page
  packages/suite/src/components/landing/ConnectDevice/index.tsx
  packages/suite/src/views/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

add ttm support
  packages/suite/l10n.config.json
  packages/suite/package.json
  packages/suite/src/actions/languageActions.native.ts
  packages/suite/src/actions/languageActions.ts
  packages/suite/src/actions/suiteActions.ts
  packages/suite/src/views/Layout.tsx
  packages/suite/src/views/index.tsx
  packages/translations-manager/package.json
Due: suite-web lint, suite-web build, suite-web deploy dev

add lang files
  packages/suite-web/static/l10n/af.json
  packages/suite-web/static/l10n/ar.json
  packages/suite-web/static/l10n/bn.json
  packages/suite-web/static/l10n/cs.json
  packages/suite-web/static/l10n/de.json
  packages/suite-web/static/l10n/el.json
  packages/suite-web/static/l10n/en.json
  packages/suite-web/static/l10n/es.json
  packages/suite-web/static/l10n/et.json
  packages/suite-web/static/l10n/fa.json
  packages/suite-web/static/l10n/fr.json
  packages/suite-web/static/l10n/he.json
  packages/suite-web/static/l10n/hi.json
  packages/suite-web/static/l10n/hu.json
  packages/suite-web/static/l10n/id.json
  packages/suite-web/static/l10n/it.json
  packages/suite-web/static/l10n/ja.json
  packages/suite-web/static/l10n/ko.json
  packages/suite-web/static/l10n/nl.json
  packages/suite-web/static/l10n/no.json
  packages/suite-web/static/l10n/pl.json
  packages/suite-web/static/l10n/pt.json
  packages/suite-web/static/l10n/ru.json
  packages/suite-web/static/l10n/sv-SE.json
  packages/suite-web/static/l10n/tr.json
  packages/suite-web/static/l10n/uk.json
  packages/suite-web/static/l10n/vi.json
  packages/suite-web/static/l10n/zh-TW.json
  packages/suite-web/static/l10n/zh.json
Due: suite-web lint, suite-web build, suite-web deploy dev

Fix paddings
  packages/suite/src/views/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

Fix types
  packages/suite/src/utils/device.ts
  packages/suite/src/views/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

Add more ci tasks
  .gitlab-ci.yml
Due: install, components lint, components-storybook lint, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references, suite-web lint, suite-web build, suite-web deploy dev

split tasks
  .gitlab-ci.yml
Due: install, components lint, components-storybook lint, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references, suite-web lint, suite-web build, suite-web deploy dev

add missing tasks
  .gitlab-ci.yml
  packages/suite-desktop/package.json
  packages/suite-native/package.json
  packages/suite/package.json
Due: install, components lint, components-storybook lint, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references, suite-web lint, suite-web build, suite-web deploy dev

lint
  packages/suite/src/components/AcquireDevice.native.tsx
  packages/suite/src/components/DeviceSelectiona.native.tsx
  packages/suite/src/support/ConnectedIntlProvider.tsx
  packages/suite/src/views/wallet/account/sign-verify/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

fix typo
  .gitlab-ci.yml
Due: install, components lint, components-storybook lint, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references, suite-web lint, suite-web build, suite-web deploy dev

add locales to native
  packages/suite-native/src/locales/af.json
  packages/suite-native/src/locales/ar.json
  packages/suite-native/src/locales/bn.json
  packages/suite-native/src/locales/cs.json
  packages/suite-native/src/locales/de.json
  packages/suite-native/src/locales/el.json
  packages/suite-native/src/locales/en.json
  packages/suite-native/src/locales/es.json
  packages/suite-native/src/locales/et.json
  packages/suite-native/src/locales/fa.json
  packages/suite-native/src/locales/fr.json
  packages/suite-native/src/locales/he.json
  packages/suite-native/src/locales/hi.json
  packages/suite-native/src/locales/hu.json
  packages/suite-native/src/locales/id.json
  packages/suite-native/src/locales/it.json
  packages/suite-native/src/locales/ja.json
  packages/suite-native/src/locales/ko.json
  packages/suite-native/src/locales/nl.json
  packages/suite-native/src/locales/no.json
  packages/suite-native/src/locales/pl.json
  packages/suite-native/src/locales/pt.json
  packages/suite-native/src/locales/ru.json
  packages/suite-native/src/locales/sv-SE.json
  packages/suite-native/src/locales/tr.json
  packages/suite-native/src/locales/uk.json
  packages/suite-native/src/locales/vi.json
  packages/suite-native/src/locales/zh-TW.json
  packages/suite-native/src/locales/zh.json
Due: none

fix error in build process
  packages/suite-desktop/package.json
  packages/suite-desktop/src/electron.js
Due: none

native specific language fetching
  packages/suite-native/babel.config.js
  packages/suite-native/src/actions/languageActions.ts
  packages/suite/src/actions/languageActions.native.ts
  packages/suite/src/actions/languageActions.useNative.ts
  packages/suite/src/views/Layout.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

add task to build desktop mac
  .gitlab-ci.yml
Due: install, components lint, components-storybook lint, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references, suite-web lint, suite-web build, suite-web deploy dev

copy locales after downloading to suite-native
  packages/suite/package.json
Due: suite-web lint, suite-web build, suite-web deploy dev

turn off task we need mac os runner for this
  .gitlab-ci.yml
Due: install, components lint, components-storybook lint, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references, suite-web lint, suite-web build, suite-web deploy dev

upgrade react-intl to 3 beta
  packages/suite/package.json
  yarn.lock
Due: suite-web lint, suite-web build, suite-web deploy dev

fix path for fetching locale
  packages/suite/src/actions/languageActions.useNative.ts
Due: suite-web lint, suite-web build, suite-web deploy dev

load messages from redux
  packages/suite/src/support/ConnectedIntlProvider.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

fix lint
  packages/suite/src/support/ConnectedIntlProvider.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

add locales to suite-desktop
  packages/suite-desktop/src/locales/af.json
  packages/suite-desktop/src/locales/ar.json
  packages/suite-desktop/src/locales/bn.json
  packages/suite-desktop/src/locales/cs.json
  packages/suite-desktop/src/locales/de.json
  packages/suite-desktop/src/locales/el.json
  packages/suite-desktop/src/locales/en.json
  packages/suite-desktop/src/locales/es.json
  packages/suite-desktop/src/locales/et.json
  packages/suite-desktop/src/locales/fa.json
  packages/suite-desktop/src/locales/fr.json
  packages/suite-desktop/src/locales/he.json
  packages/suite-desktop/src/locales/hi.json
  packages/suite-desktop/src/locales/hu.json
  packages/suite-desktop/src/locales/id.json
  packages/suite-desktop/src/locales/it.json
  packages/suite-desktop/src/locales/ja.json
  packages/suite-desktop/src/locales/ko.json
  packages/suite-desktop/src/locales/nl.json
  packages/suite-desktop/src/locales/no.json
  packages/suite-desktop/src/locales/pl.json
  packages/suite-desktop/src/locales/pt.json
  packages/suite-desktop/src/locales/ru.json
  packages/suite-desktop/src/locales/sv-SE.json
  packages/suite-desktop/src/locales/tr.json
  packages/suite-desktop/src/locales/trezor-onboarding.csv
  packages/suite-desktop/src/locales/uk.json
  packages/suite-desktop/src/locales/vi.json
  packages/suite-desktop/src/locales/zh-TW.json
  packages/suite-desktop/src/locales/zh.json
  packages/suite-native/src/locales/trezor-onboarding.csv
  packages/suite-web/static/l10n/trezor-onboarding.csv
Due: suite-web lint, suite-web build, suite-web deploy dev

add react-intl dep to suite-desktop
  packages/suite-desktop/package.json
  yarn.lock
Due: none

working language support in electron
  packages/suite-desktop/babel.config.js
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/src/actions/languageActions.ts
Due: none

Path conditions:
  install: any of: packages/components/**/*, .gitlab-ci.yml
  components lint: any of: packages/components/**/*, packages/components-storybook/**/*, .gitlab-ci.yml
  components-storybook lint: any of: packages/components/**/*, packages/components-storybook/**/*, .gitlab-ci.yml
  components-storybook build: any of: packages/components/**/*, packages/components-storybook/**/*, .gitlab-ci.yml
  components-storybook deploy dev: any of: packages/components/**/*, packages/components-storybook/**/*, .gitlab-ci.yml
  components-storybook test snapshots: any of: packages/components/**/*, packages/components-storybook/**/*, .gitlab-ci.yml
  components-storybook make snapshot references: any of: packages/components/**/*, packages/components-storybook/**/*, .gitlab-ci.yml
  suite-web lint: any of: packages/suite/**/*, packages/suite-web/**/*, .gitlab-ci.yml
  suite-web build: any of: packages/suite/**/*, packages/suite-web/**/*, .gitlab-ci.yml
  suite-web deploy dev: any of: packages/suite/**/*, packages/suite-web/**/*, .gitlab-ci.yml
