Repository trezor/trezor-suite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, components lint, components type check, components-storybook lint, components-storybook type check, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references, suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

Path conditions:
  install: any of: packages/components/**/*, .gitlab-ci.yml
  components lint: any of: packages/components/**/*, packages/components-storybook/**/*, .gitlab-ci.yml
  components type check: any of: packages/components/**/*, packages/components-storybook/**/*, .gitlab-ci.yml
  components-storybook lint: any of: packages/components/**/*, packages/components-storybook/**/*, .gitlab-ci.yml
  components-storybook type check: any of: packages/components/**/*, packages/components-storybook/**/*, .gitlab-ci.yml
  components-storybook build: any of: packages/components/**/*, packages/components-storybook/**/*, .gitlab-ci.yml
  components-storybook deploy dev: any of: packages/components/**/*, packages/components-storybook/**/*, .gitlab-ci.yml
  components-storybook test snapshots: any of: packages/components/**/*, packages/components-storybook/**/*, .gitlab-ci.yml
  components-storybook make snapshot references: any of: packages/components/**/*, packages/components-storybook/**/*, .gitlab-ci.yml
  suite lint: any of: packages/suite/**/*, .gitlab-ci.yml
  suite type check: any of: packages/suite/**/*, .gitlab-ci.yml
  suite test unit: any of: packages/suite/**/*, packages/suite-web/**/*, .gitlab-ci.yml
  suite-web lint: any of: packages/suite/**/*, packages/suite-web/**/*, .gitlab-ci.yml
  suite-web type check: any of: packages/suite/**/*, packages/suite-web/**/*, .gitlab-ci.yml
  suite-web build: any of: packages/suite/**/*, packages/suite-web/**/*, .gitlab-ci.yml
  suite-web deploy dev: any of: packages/suite/**/*, packages/suite-web/**/*, .gitlab-ci.yml
  suite-native lint: any of: packages/suite/**/*, packages/suite-native/**/*, .gitlab-ci.yml
  suite-native type check: any of: packages/suite/**/*, packages/suite-native/**/*, .gitlab-ci.yml
  suite-desktop lint: any of: packages/suite/**/*, packages/suite-desktop/**/*, .gitlab-ci.yml
  suite-desktop type check: any of: packages/suite/**/*, packages/suite-native/**/*, .gitlab-ci.yml

add some docs and path fixes for native
  README.md
  packages/components/README.md
  packages/suite-desktop/README.md
  packages/suite-native/README.md
  packages/suite-native/src/reducers/store.ts
  packages/suite-native/src/support/RouterHandler.tsx
  packages/suite-onboarding/README.md
  packages/suite-web/README.md
  packages/suite/src/views/suite/index.native.tsx
  yarn.lock
Due: install, components lint, components type check, components-storybook lint, components-storybook type check, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references, suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

config to lowercase
  packages/suite/src/components/suite/Layout/index.tsx
  packages/suite/src/components/wallet/CoinMenu/index.tsx
  packages/suite/src/config/suite/index.ts
Due: suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

split suite config
  packages/suite/src/components/suite/Layout/index.tsx
  packages/suite/src/components/wallet/CoinMenu/index.tsx
  packages/suite/src/config/suite/externalCoins.ts
  packages/suite/src/config/suite/fiat.ts
  packages/suite/src/config/suite/flags.ts
  packages/suite/src/config/suite/index.ts
  packages/suite/src/config/suite/languages.ts
  packages/suite/src/config/suite/networks.ts
  packages/suite/src/config/suite/settings.ts
  packages/suite/src/config/suite/supportedBrowsers.ts
Due: suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

fix static path in build and dev
  packages/suite-web/pages/_document.tsx
  packages/suite/src/actions/suite/languageActions.useNative.ts
  packages/suite/src/components/suite/landing/ConnectDevice/index.tsx
  packages/suite/src/support/suite/nextjs.ts
  packages/suite/src/utils/suite/nextjs.ts
  packages/suite/src/utils/suite/tests/nextjs.test.js
Due: suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

remove test
  packages/suite/src/utils/suite/tests/nextjs.test.js
Due: suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

remove leftover
  packages/suite/src/support/suite/nextjs.ts
Due: suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

fix unit test
  packages/suite/src/utils/suite/l10n.ts
Due: suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

try to cache node modules
  .gitlab-ci.yml
Due: install, components lint, components type check, components-storybook lint, components-storybook type check, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references, suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

log assetPrefix
  packages/suite/src/actions/suite/routerActions.ts
Due: suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

test nextjs link
  packages/suite/src/components/wallet/TopNavigation/index.tsx
Due: suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

test
  packages/suite/src/utils/suite/router.ts
Due: suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

Story of "Other" named "Loader" already exist #143, fix Warning: Each child in a list should have a unique "key" prop.
  packages/components-storybook/.storybook/config.js
  packages/components-storybook/src/stories/components/loader.tsx
  packages/components-storybook/src/stories/components/other.tsx
Due: components lint, components type check, components-storybook lint, components-storybook type check, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references

fix key for icon
  packages/components-storybook/src/stories/components/other.tsx
Due: components lint, components type check, components-storybook lint, components-storybook type check, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references

update asset prefix
  .gitlab-ci.yml
Due: install, components lint, components type check, components-storybook lint, components-storybook type check, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references, suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

update asset prefix 2
  .gitlab-ci.yml
Due: install, components lint, components type check, components-storybook lint, components-storybook type check, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references, suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

fix electron
  packages/suite-desktop/next.config.js
Due: suite-desktop lint

propagate process env
  packages/suite-web/next.config.js
Due: suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev

Write unit tests for utils #31
  packages/components/package.json
  packages/components/src/utils/__tests__/colors.test.js
  packages/components/src/utils/__tests__/icons.test.js
  yarn.lock
Due: install, components lint, components type check, components-storybook lint, components-storybook type check, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references

disable web security in dev
  packages/suite-desktop/src/electron.js
Due: suite-desktop lint

fix snapshots
  packages/components-storybook/test/snapshots/Form.test.js/Form -- input_value.snap.png
  packages/components-storybook/test/snapshots/Form.test.js/Form -- input_value_disabled.snap.png
  packages/components-storybook/test/snapshots/Form.test.js/Form -- input_value_error.snap.png
  packages/components-storybook/test/snapshots/Form.test.js/Form -- input_value_info.snap.png
  packages/components-storybook/test/snapshots/Form.test.js/Form -- input_value_success.snap.png
  packages/components-storybook/test/snapshots/Form.test.js/Form -- input_value_warning.snap.png
Due: components lint, components type check, components-storybook lint, components-storybook type check, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references

Revert "fix snapshots"
  packages/components-storybook/test/snapshots/Form.test.js/Form -- input_value.snap.png
  packages/components-storybook/test/snapshots/Form.test.js/Form -- input_value_disabled.snap.png
  packages/components-storybook/test/snapshots/Form.test.js/Form -- input_value_error.snap.png
  packages/components-storybook/test/snapshots/Form.test.js/Form -- input_value_info.snap.png
  packages/components-storybook/test/snapshots/Form.test.js/Form -- input_value_success.snap.png
  packages/components-storybook/test/snapshots/Form.test.js/Form -- input_value_warning.snap.png
Due: components lint, components type check, components-storybook lint, components-storybook type check, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references

remove files
  packages/suite-desktop/static/l10n/af.json
  packages/suite-desktop/static/l10n/ar.json
  packages/suite-desktop/static/l10n/bn.json
  packages/suite-desktop/static/l10n/cs.json
  packages/suite-desktop/static/l10n/de.json
  packages/suite-desktop/static/l10n/el.json
  packages/suite-desktop/static/l10n/en.json
  packages/suite-desktop/static/l10n/es.json
  packages/suite-desktop/static/l10n/et.json
  packages/suite-desktop/static/l10n/fa.json
  packages/suite-desktop/static/l10n/fr.json
  packages/suite-desktop/static/l10n/he.json
  packages/suite-desktop/static/l10n/hi.json
  packages/suite-desktop/static/l10n/hu.json
  packages/suite-desktop/static/l10n/id.json
  packages/suite-desktop/static/l10n/it.json
  packages/suite-desktop/static/l10n/ja.json
  packages/suite-desktop/static/l10n/ko.json
  packages/suite-desktop/static/l10n/nl.json
  packages/suite-desktop/static/l10n/no.json
  packages/suite-desktop/static/l10n/pl.json
  packages/suite-desktop/static/l10n/pt.json
  packages/suite-desktop/static/l10n/ru.json
  packages/suite-desktop/static/l10n/sv-SE.json
  packages/suite-desktop/static/l10n/tr.json
  packages/suite-desktop/static/l10n/trezor-onboarding.csv
  packages/suite-desktop/static/l10n/uk.json
  packages/suite-desktop/static/l10n/vi.json
  packages/suite-desktop/static/l10n/zh-TW.json
  packages/suite-desktop/static/l10n/zh.json
Due: suite-desktop lint

force origin to electron
  packages/suite-desktop/src/actions/languageActions.ts
  packages/suite-desktop/src/electron.js
Due: suite-desktop lint

fix view
  packages/suite-desktop/pages/index.tsx
Due: suite-desktop lint

fix reducers, middlewares imports in suite-native
  packages/suite-native/src/reducers/store.ts
Due: suite-native lint, suite-native type check, suite-desktop type check

try to include template
  .gitlab-ci.yml
  ci/templates/lint.yaml
Due: install, components lint, components type check, components-storybook lint, components-storybook type check, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references, suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

split config
  .gitlab-ci.yml
  ci/packages/components-storybook.yml
  ci/packages/components.yml
  ci/templates/lint.yaml
Due: install, components lint, components type check, components-storybook lint, components-storybook type check, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references, suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

split whole config
  .gitlab-ci.yml
  ci/packages/components-storybook.yml
  ci/packages/components.yml
  ci/packages/suite-desktop.yml
  ci/packages/suite-native.yaml
  ci/packages/suite-web.yml
  ci/packages/suite.yml
Due: install, components lint, components type check, components-storybook lint, components-storybook type check, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references, suite lint, suite type check, suite test unit, suite-web lint, suite-web type check, suite-web build, suite-web deploy dev, suite-native lint, suite-native type check, suite-desktop lint, suite-desktop type check

fix suffix
  ci/packages/suite-native.yml
Due: none

add only chnages for delete tasks
  ci/packages/components-storybook.yml
  ci/packages/suite-web.yml
Due: none

watch changes in ci folder
  ci/packages/components-storybook.yml
  ci/packages/components.yml
  ci/packages/suite-desktop.yml
  ci/packages/suite-native.yml
  ci/packages/suite-web.yml
  ci/packages/suite.yml
Due: none

watch changes in ci folder and subfolders
  ci/packages/components-storybook.yml
  ci/packages/components.yml
  ci/packages/suite-desktop.yml
  ci/packages/suite-native.yml
  ci/packages/suite-web.yml
  ci/packages/suite.yml
Due: none

add missing watcher
  ci/packages/components-storybook.yml
Due: none

better metro bundler blacklist
  packages/componentsStorybookNative/metro.config.js
  packages/suite-native/metro.config.js
Due: suite-native lint, suite-native type check, suite-desktop type check

Update README.md
  README.md
Due: none

hoist only react-native from suite-native
  package.json
Due: none

Header component: Invariant failed #161
  packages/components-storybook/src/stories/components/other.tsx
Due: components lint, components type check, components-storybook lint, components-storybook type check, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references
