Repository trezor/trezor-suite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: components build, components test snapshots, components make snapshot references, suite-web build

components build:
  stage: build
  script:
  - env
  - cd ${PACKAGE_PATH_COMPONENTS}
  - echo "--- [installing deps] ---"
  - yarn
  - echo "--- [building lib] ---"
  - yarn build
  artifacts:
    name: components-build-files
    expire_in: 15 minutes
    paths:
    - $PACKAGE_PATH_COMPONENTS/build

components test snapshots:
  image: cypress/base:10
  stage: test snapshots
  script:
  - yarn
  - yarn ci:test:snapshots --baseUrl=${DEV_SERVER_URL}/${PACKAGE_NAME}/${CI_BUILD_REF_NAME}
  artifacts:
    expire_in: 1 day
    when: always
    paths:
    - /builds/trezor/trezor-ui-components/test/screenshots
  ...

components make snapshot references:
  image: cypress/base:10
  stage: test snapshots
  when: manual
  script:
  - yarn
  - yarn ci:test:snapshots:references --baseUrl=${DEV_SERVER_URL}/${PACKAGE_NAME}/${CI_BUILD_REF_NAME}
  artifacts:
    expire_in: 1 day
    when: always
    paths:
    - /builds/trezor/trezor-ui-components/test/snapshots

suite-web build:
  stage: build
  variables:
    PACKAGE_NAME: suite-web
  script:
  - env
  - cd $PACKAGE_PATH_SUITE_WEB
  - echo "--- [installing deps] ---"
  - yarn
  - echo "--- [building lib] ---"
  - assetPrefix=${DEV_SERVER_URL}/${PACKAGE_NAME}/${CI_BUILD_REF_NAME} yarn build
  artifacts:
    name: suite-web-build
  ...

add missing variable
  .gitlab-ci.yml
Due: components build, components test snapshots, components make snapshot references, suite-web build

wip
  packages/suite-native/src/actions/RouterActions.ts
  packages/suite-native/src/support/RouterHandler.tsx
  packages/suite/src/actions/RouterActions.ts
  packages/suite/src/components/Preloader.tsx
  packages/suite/src/views/index.tsx
  packages/suite/src/views/ui/index.tsx
Due: none

fix env
  .gitlab-ci.yml
  packages/components/package.json
Due: components build, components test snapshots, components make snapshot references, suite-web build

make one line
  .gitlab-ci.yml
Due: components build, components test snapshots, components make snapshot references, suite-web build

fix snapshots path
  .gitlab-ci.yml
Due: components build, components test snapshots, components make snapshot references, suite-web build

update snapshots
  packages/components/test/snapshots/Buttons.test.js/Buttons -- button_basic_disabled.snap.png
  packages/components/test/snapshots/Buttons.test.js/Buttons -- button_icon_disabled.snap.png
  packages/components/test/snapshots/Buttons.test.js/Buttons -- button_inverse_disabled.snap.png
  packages/components/test/snapshots/Buttons.test.js/Buttons -- button_inverse_icon_disabled.snap.png
  packages/components/test/snapshots/Buttons.test.js/Buttons -- button_loading_disabled.snap.png
  packages/components/test/snapshots/Form.test.js/Form -- input_pin.snap.png
  packages/components/test/snapshots/Form.test.js/Form -- input_value.snap.png
  packages/components/test/snapshots/Form.test.js/Form -- input_value_disabled.snap.png
  packages/components/test/snapshots/Form.test.js/Form -- input_value_error.snap.png
  packages/components/test/snapshots/Form.test.js/Form -- input_value_info.snap.png
  packages/components/test/snapshots/Form.test.js/Form -- input_value_success.snap.png
  packages/components/test/snapshots/Form.test.js/Form -- input_value_warning.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_basic_error.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_basic_info.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_basic_success.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_basic_warning.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_cancelable_action_error.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_cancelable_action_info.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_cancelable_action_loading_error.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_cancelable_action_loading_info.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_cancelable_action_loading_success.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_cancelable_action_loading_warning.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_cancelable_action_success.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_cancelable_action_warning.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_cancelable_error.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_cancelable_info.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_cancelable_success.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_cancelable_warning.snap.png
Due: components build, components test snapshots, components make snapshot references

fix wrapper, remove story router
  packages/components/src/stories/components/other.js
Due: components build, components test snapshots, components make snapshot references

Add components snapshots tests working on dev server (#41)
  .gitlab-ci.yml
  packages/components/package.json
  packages/components/test/integration/Buttons.test.js
  packages/components/test/integration/Form.test.js
  packages/components/test/integration/Notifications.test.js
  packages/components/test/integration/Typography.test.js
  packages/components/test/snapshots/Buttons.test.js/Buttons -- button_basic_disabled.snap.png
  packages/components/test/snapshots/Buttons.test.js/Buttons -- button_icon_disabled.snap.png
  packages/components/test/snapshots/Buttons.test.js/Buttons -- button_inverse_disabled.snap.png
  packages/components/test/snapshots/Buttons.test.js/Buttons -- button_inverse_icon_disabled.snap.png
  packages/components/test/snapshots/Buttons.test.js/Buttons -- button_loading_disabled.snap.png
  packages/components/test/snapshots/Form.test.js/Form -- input_pin.snap.png
  packages/components/test/snapshots/Form.test.js/Form -- input_value.snap.png
  packages/components/test/snapshots/Form.test.js/Form -- input_value_disabled.snap.png
  packages/components/test/snapshots/Form.test.js/Form -- input_value_error.snap.png
  packages/components/test/snapshots/Form.test.js/Form -- input_value_info.snap.png
  packages/components/test/snapshots/Form.test.js/Form -- input_value_success.snap.png
  packages/components/test/snapshots/Form.test.js/Form -- input_value_warning.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_basic_error.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_basic_info.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_basic_success.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_basic_warning.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_cancelable_action_error.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_cancelable_action_info.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_cancelable_action_loading_error.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_cancelable_action_loading_info.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_cancelable_action_loading_success.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_cancelable_action_loading_warning.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_cancelable_action_success.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_cancelable_action_warning.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_cancelable_error.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_cancelable_info.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_cancelable_success.snap.png
  packages/components/test/snapshots/Notifications.test.js/Notifications -- notification_cancelable_warning.snap.png
  packages/components/test/support/commands.js
Due: components build, components test snapshots, components make snapshot references, suite-web build

fix linking to ui page
  packages/suite/src/components/SuiteWrapper.tsx
  packages/suite/src/views/index.tsx
  packages/suite/src/views/ui/index.tsx
Due: none

add test
  packages/components/src/stories/components/other.js
  packages/components/test/integration/TrezorLogo.test.js
Due: components build, components test snapshots, components make snapshot references

fix build script to npm
  .eslintignore
  packages/components/.gitignore
  packages/components/.storybook/tsconfig.json
  packages/components/package.json
  packages/components/scripts/build.js
  yarn.lock
Due: components build, components test snapshots, components make snapshot references

removed unused gitlab config
  packages/components/.gitlab-ci.yml
Due: components build, components test snapshots, components make snapshot references

fix default color to null
  packages/components/src/utils/colors.ts
Due: components build, components test snapshots, components make snapshot references

fix ci only change
  .gitlab-ci.yml
Due: components build, components test snapshots, components make snapshot references, suite-web build

fix prepublish
  packages/components/package.json
Due: components build, components test snapshots, components make snapshot references

fix ci changes
  .gitlab-ci.yml
Due: components build, components test snapshots, components make snapshot references, suite-web build

turn off transaction to be able merge
  public/data/appConfig.json
Due: none

fix dev connect url
  src/actions/TrezorConnectActions.js
Due: none

fix test url
  packages/components/test/integration/TrezorLogo.test.js
Due: components build, components test snapshots, components make snapshot references

fix test url
  packages/components/test/integration/LanguagePicker.test.js
Due: components build, components test snapshots, components make snapshot references

move snapshot references to separated step
  packages/components/.gitignore
  packages/components/.gitlab-ci.yml
Due: components build, components test snapshots, components make snapshot references

separate snapshots
  .gitlab-ci.yml
  packages/components/.gitlab-ci.yml
  packages/components/package.json
Due: components build, components test snapshots, components make snapshot references, suite-web build

eslint
  packages/suite/src/actions/StorageActions.ts
  packages/suite/src/actions/SuiteActions.ts
  packages/suite/src/actions/TrezorConnectActions.ts
  packages/suite/src/components/Preloader.tsx
  packages/suite/src/middlewares/connect.ts
  packages/suite/src/middlewares/index.ts
  packages/suite/src/middlewares/log.ts
  packages/suite/src/middlewares/suite.ts
  packages/suite/src/reducers/store.ts
  packages/suite/src/support/RouterHandler.tsx
  packages/suite/src/types.ts
  packages/suite/src/utils/build.ts
  packages/suite/src/views/index.tsx
Due: none

add links to header
  packages/suite/src/components/SuiteWrapper.tsx
  packages/suite/src/views/index.tsx
Due: none

fix img props
  packages/components/src/components/TrezorLogo/index.tsx
Due: components build, components test snapshots, components make snapshot references

hide some errors that are too frequent
  src/actions/ethereum/SendFormValidationActions.js
  src/actions/ripple/SendFormValidationActions.js
  src/utils/formatUtils.js
Due: none

fix routing issue
  package.json
  yarn.lock
Due: none

add All section to storybook for Other section #45
  packages/components/.storybook/config.js
  packages/components/src/stories/components/loader.js
  packages/components/src/stories/components/other.js
Due: components build, components test snapshots, components make snapshot references

add empty content to both sections in menu
  src/views/Wallet/components/LeftNavigation/components/CoinMenu/index.js
Due: none

update changelog
  CHANGELOG.md
Due: none

add link to dashboard
  src/views/Wallet/views/Dashboard/index.js
  src/views/Wallet/views/Dashboard/index.messages.js
Due: none

react-router as peerDep
  packages/components/package.json
  yarn.lock
Due: components build, components test snapshots, components make snapshot references

reuse "application settings" intl message
  src/views/Wallet/components/LeftNavigation/components/CoinMenu/index.js
  src/views/Wallet/components/LeftNavigation/components/CoinMenu/index.messages.js
  src/views/Wallet/views/Dashboard/index.js
  src/views/Wallet/views/Dashboard/index.messages.js
  src/views/common.messages.js
Due: none

add tests
  packages/components/src/stories/components/other.js
  packages/components/test/integration/Other.test.js
Due: components build, components test snapshots, components make snapshot references

remove TrezorLogo test (moved to Other.test.js)
  packages/components/src/stories/components/other.js
  packages/components/test/integration/TrezorLogo.test.js
Due: components build, components test snapshots, components make snapshot references

react-router-dom as peerDep
  packages/components/package.json
  yarn.lock
Due: components build, components test snapshots, components make snapshot references

add changelog
  packages/components/CHANGELOG.md
Due: components build, components test snapshots, components make snapshot references

build suite-web from suite core chnages
  .gitlab-ci.yml
Due: components build, components test snapshots, components make snapshot references, suite-web build

proptypes / typescript
  packages/components/src/components/buttons/Button/index.tsx
Due: components build, components test snapshots, components make snapshot references

add first build script
  .gitignore
  packages/suite-desktop/package.json
  yarn.lock
Due: none

Path conditions:
  components build: any of: packages/components/**/*, .gitlab-ci.yml
  components test snapshots: any of: packages/components/**/*, .gitlab-ci.yml
  components make snapshot references: any of: packages/components/**/*, .gitlab-ci.yml
  suite-web build: any of: packages/suite-web/**/*, .gitlab-ci.yml
