Repository trezor/trezor-suite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, components lint, components build, components deploy dev, components test snapshots, suite-web lint, suite-web build, suite-web deploy dev

Path conditions:
  install: any of: packages/components/**/*, .gitlab-ci.yml
  components lint: any of: packages/components/**/*, .gitlab-ci.yml
  components build: any of: packages/components/**/*, .gitlab-ci.yml
  components deploy dev: any of: packages/components/**/*, .gitlab-ci.yml
  components test snapshots: any of: packages/components/**/*, .gitlab-ci.yml
  suite-web lint: any of: packages/suite/**/*, packages/suite-web/**/*, .gitlab-ci.yml
  suite-web build: any of: packages/suite/**/*, packages/suite-web/**/*, .gitlab-ci.yml
  suite-web deploy dev: any of: packages/suite/**/*, packages/suite-web/**/*, .gitlab-ci.yml

add "app" field to router reducer
  packages/suite/src/components/AcquireDevice.tsx
  packages/suite/src/components/SuiteWrapper.tsx
  packages/suite/src/reducers/common/router.ts
  packages/suite/src/types.ts
  packages/suite/src/utils/router.ts
Due: suite-web lint, suite-web build, suite-web deploy dev

add onboarding page
  packages/suite/src/apps/onboarding/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

remove custom event listener in onboarding
  packages/suite/src/apps/onboarding/index.tsx
  trezor-connect-lib/index.d.ts
Due: suite-web lint, suite-web build, suite-web deploy dev

eslint
  packages/suite/src/apps/onboarding/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

add device header files and move to ts
  packages/suite/package.json
  packages/suite/src/components/DeviceHeader/index.messages.ts
  packages/suite/src/components/DeviceHeader/index.tsx
  packages/suite/src/utils/device.ts
  yarn.lock
Due: suite-web lint, suite-web build, suite-web deploy dev

fix link component
  packages/components/src/components/Link/index.tsx
Due: install, components lint, components build, components deploy dev, components test snapshots

fix snapshot
  packages/components/test/snapshots/LanguagePicker.test.js/LanguagePicker -- LanguagePicker.snap.png
Due: install, components lint, components build, components deploy dev, components test snapshots

eslint fix
  packages/components/src/components/Link/index.tsx
Due: install, components lint, components build, components deploy dev, components test snapshots

add linting for styled components
  packages/suite/.stylelintrc
  packages/suite/package.json
  yarn.lock
Due: suite-web lint, suite-web build, suite-web deploy dev

revert deleting ts types for suite and connect
  packages/suite/index.d.ts
  trezor-connect-lib/index.d.ts
Due: suite-web lint, suite-web build, suite-web deploy dev

loader default stroke width 2px
  packages/components/src/components/Loader/index.tsx
Due: install, components lint, components build, components deploy dev, components test snapshots

remove font-family
  packages/components/src/components/inputs/Pin/index.tsx
Due: install, components lint, components build, components deploy dev, components test snapshots

eslint fix
  packages/components/src/components/inputs/Pin/index.tsx
Due: install, components lint, components build, components deploy dev, components test snapshots

update snapshot
  packages/components/test/snapshots/Form.test.js/Form -- input_pin.snap.png
Due: install, components lint, components build, components deploy dev, components test snapshots

#26 Pin Input padding (#34)
  packages/components/src/components/Link/index.tsx
  packages/components/src/components/inputs/Pin/index.tsx
  packages/components/test/snapshots/Form.test.js/Form -- input_pin.snap.png
Due: install, components lint, components build, components deploy dev, components test snapshots

add language provider
  packages/suite-web/babel.config.js
  packages/suite-web/pages/_app.tsx
  packages/suite/src/components/DeviceSelection/index.messages.ts
  packages/suite/src/components/DeviceSelection/index.tsx
  packages/suite/src/components/DeviceSelectiona.tsx
  packages/suite/src/support/ConnectedIntlProvider.tsx
  packages/suite/src/utils/device.ts
Due: suite-web lint, suite-web build, suite-web deploy dev

turn off caching, next will handle
  packages/suite-web/babel.config.js
Due: suite-web lint, suite-web build, suite-web deploy dev

add font
  packages/suite-web/pages/_document.tsx
  packages/suite-web/static/fonts/fonts.css
  packages/suite-web/static/fonts/roboto/RobotoMonoRegular.eot
  packages/suite-web/static/fonts/roboto/RobotoMonoRegular.svg
  packages/suite-web/static/fonts/roboto/RobotoMonoRegular.ttf
  packages/suite-web/static/fonts/roboto/RobotoMonoRegular.woff
  packages/suite-web/static/fonts/roboto/RobotoMonoRegular.woff2
  packages/suite-web/static/fonts/roboto/font-name.txt
  packages/suite-web/static/fonts/roboto/regular/RobotoBoldCyrillic.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoBoldCyrillicExt.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoBoldGreek.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoBoldGreekExt.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoBoldLatin.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoBoldLatinExt.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoBoldVietnamese.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoCyrillic.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoCyrillicExt.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoGreek.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoGreekExt.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoLatin.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoLatinExt.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoLightCyrillic.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoLightCyrillicExt.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoLightGreek.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoLightGreekExt.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoLightLatin.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoLightLatinExt.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoLightVietnamese.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoMediumCyrillic.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoMediumCyrillicExt.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoMediumGreek.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoMediumGreekExt.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoMediumLatin.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoMediumLatinExt.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoMediumVietnamese.woff2
  packages/suite-web/static/fonts/roboto/regular/RobotoVietnamese.woff2
  packages/suite/src/components/DeviceSelection/index.tsx
  packages/suite/src/components/images/DeviceIcon/index.tsx
  packages/suite/src/components/images/WalletType/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

storybook as separate package
  packages/components-storybook/.storybook/config.js
  packages/components-storybook/package.json
  packages/components-storybook/src/stories/components/buttons.js
  packages/components-storybook/src/stories/components/colors.js
  packages/components-storybook/src/stories/components/form.js
  packages/components-storybook/src/stories/components/loader.js
  packages/components-storybook/src/stories/components/modal.js
  packages/components-storybook/src/stories/components/notifications.js
  packages/components-storybook/src/stories/components/other.js
  packages/components-storybook/src/stories/components/text.js
Due: none

lint base styles
  packages/suite-web/pages/_document.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

added loader
  packages/suite/src/components/Preloader.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

added variables from components
  packages/suite/src/components/DeviceSelection/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

fix asset prefix for local development
  packages/suite-web/next.config.js
Due: suite-web lint, suite-web build, suite-web deploy dev

fix components pkg resolver
  packages/suite-web/next.config.js
Due: suite-web lint, suite-web build, suite-web deploy dev

add styled components properly
  packages/suite-web/pages/_document.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

Update README.md
  packages/components/README.md
Due: install, components lint, components build, components deploy dev, components test snapshots

build components on postInstall
  package.json
Due: none

move ci to components storybook
  .gitlab-ci.yml
Due: install, components lint, components build, components deploy dev, components test snapshots, suite-web lint, suite-web build, suite-web deploy dev

rename to tsx
  packages/components-storybook/src/stories/components/buttons.tsx
  packages/components-storybook/src/stories/components/colors.tsx
  packages/components-storybook/src/stories/components/form.tsx
  packages/components-storybook/src/stories/components/loader.tsx
  packages/components-storybook/src/stories/components/modal.tsx
  packages/components-storybook/src/stories/components/notifications.tsx
  packages/components-storybook/src/stories/components/other.tsx
  packages/components-storybook/src/stories/components/text.tsx
Due: none

add storybook types
  packages/components-storybook/package.json
  packages/components-storybook/src/stories/components/buttons.tsx
  yarn.lock
Due: none

make script pass
  package.json
Due: none

add notes
  NOTES.md
Due: none

lint ts and tsx only
  packages/components/package.json
Due: install, components lint, components build, components deploy dev, components test snapshots

lint
  packages/components-storybook/src/stories/components/colors.tsx
  packages/components-storybook/src/stories/components/text.tsx
Due: none

remove leftovers
  packages/components/test/integration/LanguagePicker.test.js
  packages/components/test/snapshots/LanguagePicker.test.js/LanguagePicker -- LanguagePicker.snap.png
Due: install, components lint, components build, components deploy dev, components test snapshots

fix build
  packages/components-storybook/.storybook/config.js
Due: none

fix package name
  .gitlab-ci.yml
Due: install, components lint, components build, components deploy dev, components test snapshots, suite-web lint, suite-web build, suite-web deploy dev

fix task name
  .gitlab-ci.yml
Due: install, components lint, components build, components deploy dev, components test snapshots, suite-web lint, suite-web build, suite-web deploy dev

fix artifacts path
  .gitlab-ci.yml
Due: install, components lint, components build, components deploy dev, components test snapshots, suite-web lint, suite-web build, suite-web deploy dev
