Repository trezor/trezor-suite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, components lint, components build, components deploy dev, components test snapshots, suite-web lint, suite-web build, suite-web deploy dev

Path conditions:
  install: any of: packages/components/**/*, .gitlab-ci.yml
  components lint: any of: packages/components/**/*, .gitlab-ci.yml
  components build: any of: packages/components/**/*, .gitlab-ci.yml
  components deploy dev: any of: packages/components/**/*, .gitlab-ci.yml
  components test snapshots: any of: packages/components/**/*, .gitlab-ci.yml
  suite-web lint: any of: packages/suite/**/*, packages/suite-web/**/*, .gitlab-ci.yml
  suite-web build: any of: packages/suite/**/*, packages/suite-web/**/*, .gitlab-ci.yml
  suite-web deploy dev: any of: packages/suite/**/*, packages/suite-web/**/*, .gitlab-ci.yml

fix proptypes in Input
  packages/components/src/components/inputs/Input/index.tsx
Due: install, components lint, components build, components deploy dev, components test snapshots

fix types
  packages/components-storybook/src/stories/components/form.tsx
Due: none

fix base url path
  .gitlab-ci.yml
Due: install, components lint, components build, components deploy dev, components test snapshots, suite-web lint, suite-web build, suite-web deploy dev

Fix/components/ts types (#77)
  packages/components-storybook/src/stories/components/form.tsx
  packages/components/src/components/inputs/Input/index.tsx
Due: install, components lint, components build, components deploy dev, components test snapshots

add check for types
  .gitlab-ci.yml
  packages/suite-web/package.json
Due: install, components lint, components build, components deploy dev, components test snapshots, suite-web lint, suite-web build, suite-web deploy dev

add git-revision-webpack-plugin
  packages/suite-desktop/package.json
  packages/suite-web/package.json
  yarn.lock
Due: suite-web lint, suite-web build, suite-web deploy dev

modify webpack plugins
  packages/suite-desktop/next.config.js
  packages/suite-web/next.config.js
Due: suite-web lint, suite-web build, suite-web deploy dev

use process.env in trezor-connect config
  packages/suite/src/actions/trezorConnectActions.ts
Due: suite-web lint, suite-web build, suite-web deploy dev

fix ts errors in components lib
  NOTES.md
  package.json
  packages/components/src/components/Checkbox/index.native.tsx
  packages/components/src/components/CoinLogo/index.native.tsx
  packages/components/src/components/Textarea/index.native.tsx
  packages/components/src/components/buttons/Button/index.native.tsx
Due: install, components lint, components build, components deploy dev, components test snapshots

Create feedback interface (info, success, warning, error) #75
  packages/components/src/components/Notification/index.tsx
  packages/components/src/components/Textarea/index.native.tsx
  packages/components/src/components/Textarea/index.tsx
  packages/components/src/components/buttons/Button/index.native.tsx
  packages/components/src/components/buttons/Button/index.tsx
  packages/components/src/components/inputs/Input/index.native.tsx
  packages/components/src/components/inputs/Input/index.tsx
  packages/components/src/support/types/index.ts
Due: install, components lint, components build, components deploy dev, components test snapshots

fix typescript errors
  packages/components-storybook/package.json
  packages/components-storybook/src/stories/components/buttons.tsx
  packages/components-storybook/src/stories/components/other.tsx
  packages/components-storybook/src/stories/components/text.tsx
  packages/components/src/components/Notification/index.tsx
  packages/components/src/components/inputs/Input/index.tsx
  packages/components/src/support/types/index.ts
  yarn.lock
Due: install, components lint, components build, components deploy dev, components test snapshots

fix lint
  packages/components/src/components/Textarea/index.native.tsx
Due: install, components lint, components build, components deploy dev, components test snapshots

move @types from devDeps to deps
  packages/components/package.json
Due: install, components lint, components build, components deploy dev, components test snapshots

Create feedback interface (info, success, warning, error) #75
  packages/components-storybook/package.json
  packages/components-storybook/src/stories/components/buttons.tsx
  packages/components-storybook/src/stories/components/other.tsx
  packages/components-storybook/src/stories/components/text.tsx
  packages/components/src/components/Notification/index.tsx
  packages/components/src/components/Textarea/index.native.tsx
  packages/components/src/components/Textarea/index.tsx
  packages/components/src/components/buttons/Button/index.native.tsx
  packages/components/src/components/buttons/Button/index.tsx
  packages/components/src/components/inputs/Input/index.native.tsx
  packages/components/src/components/inputs/Input/index.tsx
  packages/components/src/support/types/index.ts
  yarn.lock
Due: install, components lint, components build, components deploy dev, components test snapshots

remove allow fail
  .gitlab-ci.yml
Due: install, components lint, components build, components deploy dev, components test snapshots, suite-web lint, suite-web build, suite-web deploy dev

split tasks for lint and test
  .gitlab-ci.yml
Due: install, components lint, components build, components deploy dev, components test snapshots, suite-web lint, suite-web build, suite-web deploy dev

fix metro bundler blacklist after separating storybook
  packages/suite-native/metro.config.js
Due: none

update paths
  packages/suite-native/src/actions/routerActions.ts
  packages/suite-native/src/support/RouterHandler.tsx
  packages/suite/src/apps/uitest/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

textarea types from React
  packages/components/src/components/Textarea/index.tsx
Due: install, components lint, components build, components deploy dev, components test snapshots

fix native build
  packages/components/src/components/Loader/index.native.tsx
  packages/suite-native/src/App.tsx
  packages/suite-web/pages/ui/index.tsx
  packages/suite/src/components/AcquireDevice.native.tsx
  packages/suite/src/components/DeviceSelection/index.native.tsx
  packages/suite/src/components/DeviceSelectiona.native.tsx
  packages/suite/src/components/Preloader.tsx
Due: install, components lint, components build, components deploy dev, components test snapshots, suite-web lint, suite-web build, suite-web deploy dev

fix textarea
  packages/components/src/components/Textarea/index.tsx
Due: install, components lint, components build, components deploy dev, components test snapshots

fix switch icon, fix button variants
  packages/components-storybook/src/stories/components/buttons.tsx
  packages/components-storybook/src/stories/components/form.tsx
Due: none

remove TrezorLogo test
  packages/components-storybook/test/integration/TrezorLogo.test.js
Due: none

fix input props
  packages/components/src/components/inputs/Input/index.tsx
Due: install, components lint, components build, components deploy dev, components test snapshots

export Omit type from suite/types
  packages/suite/src/types.ts
Due: suite-web lint, suite-web build, suite-web deploy dev

lint
  packages/suite-native/src/reducers/store.ts
Due: none

fix redux devtools ts error
  packages/suite/src/reducers/store.ts
Due: suite-web lint, suite-web build, suite-web deploy dev

fix some ts errors
  packages/suite-web/pages/_document.tsx
  packages/suite/src/components/DeviceSelection/index.tsx
  packages/suite/src/components/SuiteWrapper.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

build for all platforms
  packages/suite-desktop/package.json
  yarn.lock
Due: none

add root view
  packages/suite/src/components/Preloader.tsx
  packages/suite/src/views/index.tsx
  packages/suite/src/views/ui/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

add tests for other section
  packages/components-storybook/test/integration/Other.test.js
Due: none

components: fix missing LanguagePicker export
  packages/components/src/index.ts
Due: install, components lint, components build, components deploy dev, components test snapshots

add wrapper
  packages/suite/src/components/SuiteWrapper.tsx
  packages/suite/src/views/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

remove popper.js
  packages/components-storybook/package.json
  packages/components-storybook/src/stories/components/text.tsx
  yarn.lock
Due: none

add basic views
  packages/suite-web/pages/_document.tsx
  packages/suite/src/views/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

Components: Select - extend ReactSelect types #61
  packages/components/src/components/Select/index.tsx
Due: install, components lint, components build, components deploy dev, components test snapshots

apps -> views
  packages/suite-desktop/pages/index.tsx
  packages/suite-desktop/pages/onboarding/index.tsx
  packages/suite-desktop/pages/wallet/account/index.tsx
  packages/suite-desktop/pages/wallet/account/receive/index.tsx
  packages/suite-desktop/pages/wallet/account/send/index.tsx
  packages/suite-desktop/pages/wallet/account/sign-verify/index.tsx
  packages/suite-desktop/pages/wallet/index.tsx
  packages/suite-desktop/pages/wallet/settings/index.tsx
  packages/suite-web/pages/index.tsx
  packages/suite-web/pages/onboarding/index.tsx
  packages/suite-web/pages/wallet/account/index.tsx
  packages/suite-web/pages/wallet/account/receive/index.tsx
  packages/suite-web/pages/wallet/account/send/index.tsx
  packages/suite-web/pages/wallet/account/sign-verify/index.tsx
  packages/suite-web/pages/wallet/index.tsx
  packages/suite-web/pages/wallet/settings/index.tsx
  packages/suite/src/views/index2.tsx
  packages/suite/src/views/onboarding/index.tsx
  packages/suite/src/views/wallet/account/index.tsx
  packages/suite/src/views/wallet/account/receive/index.tsx
  packages/suite/src/views/wallet/account/send/index.tsx
  packages/suite/src/views/wallet/account/sign-verify/index.tsx
  packages/suite/src/views/wallet/index.tsx
  packages/suite/src/views/wallet/settings/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

add language picker
  packages/suite/src/actions/constants/suite.ts
  packages/suite/src/actions/suiteActions.ts
  packages/suite/src/components/Header/LanguagePicker/Container.ts
  packages/suite/src/components/Header/LanguagePicker/index.tsx
  packages/suite/src/components/Header/index.tsx
  packages/suite/src/components/SuiteWrapper.tsx
  packages/suite/src/reducers/common/suite.ts
Due: suite-web lint, suite-web build, suite-web deploy dev

add title component
  packages/suite/src/components/wallet/Title/index.tsx
  packages/suite/src/views/wallet/account/sign-verify/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

merge feedbackvariant/state to feedbacktype
  packages/components/src/components/Notification/index.tsx
  packages/components/src/components/buttons/Button/index.native.tsx
  packages/components/src/components/buttons/Button/index.tsx
  packages/components/src/support/types/index.ts
Due: install, components lint, components build, components deploy dev, components test snapshots
