Repository trezor/trezor-suite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: components build, components deploy dev, components test snapshots, components make snapshot references, suite-web build, suite-web deploy dev

components build:
  stage: build
  script:
  - env
  - cd ${PACKAGE_PATH_COMPONENTS}
  - echo "--- [installing deps] ---"
  - yarn
  - echo "--- [building lib] ---"
  - yarn build
  artifacts:
    name: components-build-files
    expire_in: 15 minutes
    paths:
    - $PACKAGE_PATH_COMPONENTS/build

components deploy dev:
  stage: deploy
  variables:
    PACKAGE_NAME: components
    DEPLOY_DIRECTORY: ${DEPLOY_BASE_DIR}/${PACKAGE_NAME}/${CI_BUILD_REF_NAME}
    DEPLOY_URL: ${DEV_SERVER_URL}/${PACKAGE_NAME}/${CI_BUILD_REF_NAME}
  dependencies:
  - components build
  environment:
    name: ${CI_BUILD_REF_NAME}
  ...

components test snapshots:
  image: cypress/base:10
  stage: test snapshots
  variables:
    PACKAGE_NAME: components
  script:
  - env
  - cd $PACKAGE_PATH_COMPONENTS
  - yarn
  ...

components make snapshot references:
  image: cypress/base:10
  stage: make snapshot references
  variables:
    PACKAGE_NAME: components
  script:
  - env
  - cd $PACKAGE_PATH_COMPONENTS
  - yarn
  ...

suite-web build:
  stage: build
  variables:
    PACKAGE_NAME: suite-web
  script:
  - env
  - cd $PACKAGE_PATH_SUITE_WEB
  - echo "--- [installing deps] ---"
  - yarn
  - echo "--- [building lib] ---"
  - assetPrefix=${DEV_SERVER_URL}/${PACKAGE_NAME}/${CI_BUILD_REF_NAME} yarn build
  artifacts:
    name: suite-web-build
  ...

suite-web deploy dev:
  stage: deploy
  variables:
    PACKAGE_NAME: suite-web
    DEPLOY_DIRECTORY: ${DEPLOY_BASE_DIR}/suite-web/${CI_BUILD_REF_NAME}
    DEPLOY_URL: ${DEV_SERVER_URL}/${DEPLOY_DIRECTORY}
  dependencies:
  - suite-web build
  environment:
    name: ${CI_BUILD_REF_NAME}
    url: $BASE_REVIEW_URL/${CI_BUILD_REF_NAME}
  ...

remove empty middleware
  packages/suite/src/middlewares/connect.ts
  packages/suite/src/middlewares/index.ts
Due: none

add device logic
  packages/suite/src/actions/RouterActions.ts
  packages/suite/src/actions/StorageActions.ts
  packages/suite/src/actions/SuiteActions.ts
  packages/suite/src/actions/TrezorConnectActions.ts
  packages/suite/src/actions/blockchainActions.ts
  packages/suite/src/actions/constants/index.ts
  packages/suite/src/components/Preloader.tsx
  packages/suite/src/components/SuiteWrapper.tsx
  packages/suite/src/middlewares/suite.ts
  packages/suite/src/reducers/common/devices.ts
  packages/suite/src/reducers/common/index.ts
  packages/suite/src/reducers/common/router.ts
  packages/suite/src/reducers/common/storage.ts
  packages/suite/src/reducers/common/suite.ts
Due: none

eslint
  packages/suite/src/actions/RouterActions.ts
  packages/suite/src/actions/SuiteActions.ts
  packages/suite/src/actions/TrezorConnectActions.ts
  packages/suite/src/actions/blockchainActions.ts
  packages/suite/src/actions/constants/index.ts
  packages/suite/src/actions/constants/storage.ts
  packages/suite/src/actions/constants/suite.ts
  packages/suite/src/components/Preloader.tsx
  packages/suite/src/components/SuiteWrapper.tsx
  packages/suite/src/middlewares/suite.ts
  packages/suite/src/reducers/common/devices.ts
  packages/suite/src/reducers/common/suite.ts
  packages/suite/src/types.ts
  packages/suite/src/views/index.tsx
Due: none

add more config
  .eslintignore
  .gitignore
  packages/suite-desktop/package.json
  packages/suite-native/src/App.tsx
Due: none

revert to the old build system
  packages/components/package.json
  packages/components/scripts/build.js
  packages/components/tsconfig.json
Due: components build, components deploy dev, components test snapshots, components make snapshot references

working metro bundler blacklist
  packages/suite-native/metro.config.js
Due: none

harder better faster stronger metro bundler blacklist
  packages/suite-native/metro.config.js
Due: none

Components - Checkbox - fix typescript
  packages/components/src/components/Checkbox/index.tsx
Due: components build, components deploy dev, components test snapshots, components make snapshot references

link issue
  packages/suite-native/metro.config.js
Due: none

remove unnecessary prop
  packages/components/src/components/Checkbox/index.tsx
Due: components build, components deploy dev, components test snapshots, components make snapshot references

@suite-web: pages routing
  packages/suite-web/pages/index.tsx
  packages/suite-web/pages/onboarding/index.tsx
  packages/suite-web/pages/wallet/account/index.tsx
  packages/suite-web/pages/wallet/account/receive/index.tsx
  packages/suite-web/pages/wallet/account/send/index.tsx
  packages/suite-web/pages/wallet/account/sign-verify/index.tsx
  packages/suite-web/pages/wallet/index.tsx
  packages/suite-web/pages/wallet/send/index.tsx
  packages/suite-web/pages/wallet/settings/index.tsx
Due: suite-web build, suite-web deploy dev

rename ./views to ./apps
  packages/suite/src/apps/index.tsx
  packages/suite/src/apps/onboarding/index.tsx
  packages/suite/src/apps/wallet/account/index.tsx
  packages/suite/src/apps/wallet/account/receive/index.tsx
  packages/suite/src/apps/wallet/account/send/index.tsx
  packages/suite/src/apps/wallet/account/sign-verify/index.tsx
  packages/suite/src/apps/wallet/index.tsx
  packages/suite/src/apps/wallet/settings/index.tsx
Due: none

@suite-desktop: routing
  packages/suite-desktop/pages/_app.tsx
  packages/suite-desktop/pages/index.tsx
  packages/suite-desktop/pages/onboarding/index.tsx
  packages/suite-desktop/pages/wallet/account/index.tsx
  packages/suite-desktop/pages/wallet/account/receive/index.tsx
  packages/suite-desktop/pages/wallet/account/send/index.tsx
  packages/suite-desktop/pages/wallet/account/sign-verify/index.tsx
  packages/suite-desktop/pages/wallet/index.tsx
  packages/suite-desktop/pages/wallet/send/index.tsx
  packages/suite-desktop/pages/wallet/settings/index.tsx
Due: none

router actions and device selection
  packages/suite/src/actions/RouterActions.ts
  packages/suite/src/actions/SuiteActions.ts
  packages/suite/src/components/DeviceSelection.tsx
  packages/suite/src/components/SuiteWrapper.tsx
  packages/suite/src/reducers/common/router.ts
  packages/suite/src/utils/router.ts
Due: none

Update yarn.lock
  yarn.lock
Due: none

temorary fix Link component
  packages/components/src/components/Link/index.tsx
Due: components build, components deploy dev, components test snapshots, components make snapshot references

eslint fixes
  packages/suite/src/actions/RouterActions.ts
  packages/suite/src/actions/SuiteActions.ts
  packages/suite/src/apps/index.tsx
  packages/suite/src/apps/wallet/account/index.tsx
  packages/suite/src/apps/wallet/account/receive/index.tsx
  packages/suite/src/apps/wallet/account/send/index.tsx
  packages/suite/src/apps/wallet/account/sign-verify/index.tsx
  packages/suite/src/apps/wallet/index.tsx
  packages/suite/src/apps/wallet/settings/index.tsx
  packages/suite/src/components/DeviceSelection.tsx
  packages/suite/src/components/SuiteWrapper.tsx
  packages/suite/src/reducers/common/router.ts
  packages/suite/src/utils/router.ts
Due: none

fix lint task - run with suite not components
  .gitlab-ci.yml
Due: components build, components deploy dev, components test snapshots, components make snapshot references, suite-web build, suite-web deploy dev

add all languages to lang picker
  packages/components/src/images/flags/zh-TW.svg
  packages/components/src/stories/components/other.js
Due: components build, components deploy dev, components test snapshots, components make snapshot references

tsc fixes
  packages/components/src/components/Link/index.tsx
  packages/components/src/components/Select/index.tsx
  packages/suite/src/actions/SuiteActions.ts
  packages/suite/src/apps/onboarding/index.tsx
  packages/suite/src/apps/wallet/account/index.tsx
  packages/suite/src/apps/wallet/account/receive/index.tsx
  packages/suite/src/apps/wallet/account/send/index.tsx
  packages/suite/src/apps/wallet/index.tsx
  packages/suite/src/apps/wallet/settings/index.tsx
  packages/suite/src/components/DeviceSelection.tsx
  packages/suite/src/utils/router.ts
Due: components build, components deploy dev, components test snapshots, components make snapshot references

fix paths
  packages/components/src/components/LanguagePicker/index.tsx
Due: components build, components deploy dev, components test snapshots, components make snapshot references

fix lint in components
  packages/components/src/components/Link/index.tsx
Due: components build, components deploy dev, components test snapshots, components make snapshot references

case-sensitive rename
  packages/suite/src/actions/rRouterActions.ts
Due: none

RouterActions -> routerActions
  packages/suite/src/actions/routerActions.ts
  packages/suite/src/apps/index.tsx
  packages/suite/src/components/SuiteWrapper.tsx
  packages/suite/src/views/ui/index.tsx
Due: none

remove wallet package.json :(
  packages/wallet/package.json
  yarn.lock
Due: none

fix deps script
  package.json
Due: none

remove stage for references
  .gitlab-ci.yml
Due: components build, components deploy dev, components test snapshots, components make snapshot references, suite-web build, suite-web deploy dev

Storybook should use TypeScript #57
  packages/components/package.json
  packages/components/src/stories/components/buttons.js
  packages/components/src/stories/components/colors.js
  packages/components/src/stories/components/form.js
  packages/components/src/stories/components/other.js
  packages/components/src/stories/components/text.js
  yarn.lock
Due: components build, components deploy dev, components test snapshots, components make snapshot references

rename files
  packages/suite/src/actions/storageActions.ts
  packages/suite/src/actions/suiteActions.ts
  packages/suite/src/actions/trezorConnectActions.ts
Due: none

lint
  packages/suite/src/views/ui/index.tsx
Due: none

fix imports
  packages/suite-native/babel.config.js
  packages/suite-native/src/support/RouterHandler.tsx
Due: none

remove references task
  .gitlab-ci.yml
  packages/components/package.json
Due: components build, components deploy dev, components test snapshots, components make snapshot references, suite-web build, suite-web deploy dev

Revert "remove references task"
  .gitlab-ci.yml
  packages/components/package.json
Due: components build, components deploy dev, components test snapshots, components make snapshot references, suite-web build, suite-web deploy dev

make references step automatic
  .gitlab-ci.yml
Due: components build, components deploy dev, components test snapshots, components make snapshot references, suite-web build, suite-web deploy dev

update pin input snapshot
  packages/components/test/snapshots/Form.test.js/Form -- input_pin.snap.png
Due: components build, components deploy dev, components test snapshots, components make snapshot references

add line-height
  packages/components/src/components/inputs/Pin/index.tsx
Due: components build, components deploy dev, components test snapshots, components make snapshot references

observe selected device changes
  packages/suite/src/actions/constants/suite.ts
  packages/suite/src/actions/suiteActions.ts
  packages/suite/src/middlewares/suite.ts
  packages/suite/src/reducers/common/suite.ts
  packages/suite/src/utils/reducers.ts
Due: none

Path conditions:
  components build: any of: packages/components/**/*, .gitlab-ci.yml
  components deploy dev: any of: packages/components/**/*, .gitlab-ci.yml
  components test snapshots: any of: packages/components/**/*, .gitlab-ci.yml
  components make snapshot references: any of: packages/components/**/*, .gitlab-ci.yml
  suite-web build: any of: packages/suite-web/**/*, .gitlab-ci.yml
  suite-web deploy dev: any of: packages/suite-web/**/*, .gitlab-ci.yml
