Repository trezor/trezor-suite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, components lint, components-storybook lint, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references, suite-web lint, suite-web build, suite-web deploy dev

install:
  stage: build
  image: cypress/base:10
  script:
  - yarn install --frozen-lockfile
  - $(yarn bin)/cypress cache path
  - $(yarn bin)/cypress cache list
  - $(yarn bin)/cypress verify

components lint:
  stage: test
  script:
  - yarn
  - yarn workspace @trezor/components lint

components-storybook lint:
  stage: test
  script:
  - yarn
  - yarn workspace @trezor/components-storybook lint

components-storybook build:
  stage: build
  script:
  - yarn
  - yarn workspace @trezor/components-storybook build
  artifacts:
    name: components-build-files
    expire_in: 15 minutes
    paths:
    - packages/components-storybook/build

components-storybook deploy dev:
  stage: deploy
  variables:
    PACKAGE_NAME: components-storybook
    DEPLOY_DIRECTORY: ${DEPLOY_BASE_DIR}/${PACKAGE_NAME}/${CI_BUILD_REF_NAME}
    DEPLOY_URL: ${DEV_SERVER_URL}/${PACKAGE_NAME}/${CI_BUILD_REF_NAME}
  dependencies:
  - components-storybook build
  environment:
    name: ${CI_BUILD_REF_NAME}
  ...

components-storybook test snapshots:
  image: cypress/base:10
  stage: test snapshots
  script:
  - env
  - yarn
  - CYPRESS_AUTH_USER=${CYPRESS_AUTH_USER} CYPRESS_AUTH_PASS=${CYPRESS_AUTH_PASS} CYPRESS_baseUrl=${DEV_SERVER_URL}/components-storybook/${CI_BUILD_REF_NAME} yarn workspace @trezor/components-storybook ci:test:snapshots
  artifacts:
  ...

components-storybook make snapshot references:
  image: cypress/base:10
  stage: test snapshots
  variables:
    PACKAGE_NAME: components
  script:
  - env
  - yarn
  ...

suite-web lint:
  stage: test
  script:
  - env
  - yarn
  - yarn workspace @trezor/suite-web lint

suite-web build:
  stage: build
  variables:
    PACKAGE_NAME: suite-web
  script:
  - yarn
  - assetPrefix=${DEV_SERVER_URL}/${PACKAGE_NAME}/${CI_BUILD_REF_NAME} yarn workspace @trezor/suite-web build
  artifacts:
    name: suite-web-build
    expire_in: 15 minutes
    paths:
    - $PACKAGE_PATH_SUITE_WEB/build

suite-web deploy dev:
  stage: deploy
  variables:
    PACKAGE_NAME: suite-web
    DEPLOY_DIRECTORY: ${DEPLOY_BASE_DIR}/suite-web/${CI_BUILD_REF_NAME}
    DEPLOY_URL: ${DEV_SERVER_URL}/${DEPLOY_DIRECTORY}
  dependencies:
  - suite-web build
  environment:
    name: ${CI_BUILD_REF_NAME}
    url: $BASE_REVIEW_URL/${CI_BUILD_REF_NAME}
  ...

add todo for redirecting to bridge page
  packages/suite/src/views/suite/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

update
  .gitlab-ci.yml
Due: install, components lint, components-storybook lint, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references, suite-web lint, suite-web build, suite-web deploy dev

add flags lib
  packages/flags/.eslintignore
  packages/flags/.eslintrc
  packages/flags/.gitignore
  packages/flags/.gitlab-ci.yml
  packages/flags/CHANGELOG.md
  packages/flags/LICENSE.md
  packages/flags/README.md
  packages/flags/jest.config.js
  packages/flags/package.json
  packages/flags/rollup.config.js
  packages/flags/src/main.ts
  packages/flags/tests/main.test.ts
  packages/flags/tsconfig.json
  packages/flags/yarn.lock
Due: none

flags in core utils
  packages/flags/.eslintignore
  packages/flags/.eslintrc
  packages/flags/.gitignore
  packages/flags/.gitlab-ci.yml
  packages/flags/CHANGELOG.md
  packages/flags/LICENSE.md
  packages/flags/README.md
  packages/flags/jest.config.js
  packages/flags/package.json
  packages/flags/rollup.config.js
  packages/flags/tsconfig.json
  packages/flags/yarn.lock
  packages/suite/src/utils/suite/flags.ts
  packages/suite/src/utils/suite/tests/flags.test.ts
Due: suite-web lint, suite-web build, suite-web deploy dev

update connect domain to sldev
  packages/suite/src/actions/suite/trezorConnectActions.ts
Due: suite-web lint, suite-web build, suite-web deploy dev

fix dev server path
  .gitlab-ci.yml
Due: install, components lint, components-storybook lint, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references, suite-web lint, suite-web build, suite-web deploy dev

add delete review for components-storybook
  .gitlab-ci.yml
Due: install, components lint, components-storybook lint, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references, suite-web lint, suite-web build, suite-web deploy dev

fix env name
  .gitlab-ci.yml
Due: install, components lint, components-storybook lint, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references, suite-web lint, suite-web build, suite-web deploy dev

add delete for suite web
  .gitlab-ci.yml
Due: install, components lint, components-storybook lint, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references, suite-web lint, suite-web build, suite-web deploy dev

separate layout wrapper for wallet app
  packages/suite-desktop/pages/wallet/account/transactions/index.tsx
  packages/suite-web/pages/wallet/account/transactions/index.tsx
  packages/suite/src/components/suite/TopNavigation/index.tsx
  packages/suite/src/components/wallet/Layout/index.tsx
  packages/suite/src/components/wallet/TopNavigation/index.messages.ts
  packages/suite/src/components/wallet/TopNavigation/index.tsx
  packages/suite/src/utils/suite/router.ts
  packages/suite/src/views/wallet/account/index.tsx
  packages/suite/src/views/wallet/account/receive/index.tsx
  packages/suite/src/views/wallet/account/send/index.tsx
  packages/suite/src/views/wallet/account/sign-verify/index.tsx
  packages/suite/src/views/wallet/account/transactions/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

cleanup
  packages/suite/src/components/wallet/TopNavigation/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

add some utils functions and tests
  packages/suite/src/config/app.ts
  packages/suite/src/types/suite/languages.ts
  packages/suite/src/utils/suite/build.ts
  packages/suite/src/utils/suite/l10n.ts
  packages/suite/src/utils/suite/tests/.gitkeep
  packages/suite/src/utils/suite/tests/l10n.test.ts
  packages/suite/src/utils/suite/tests/validators.test.ts
  packages/suite/src/utils/suite/validators.ts
  packages/suite/src/utils/tests/validate.test.ts
  packages/suite/src/utils/validate.test.ts
  packages/suite/src/utils/validate.ts
  packages/suite/src/views/onboarding/steps/Name/index.tsx
  packages/suite/src/views/onboarding/steps/Newsletter/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

fix lint
  packages/suite/src/views/wallet/account/sign-verify/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

remove duplicated prop
  packages/suite/src/components/wallet/TopNavigation/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

fix imports
  tsconfig.json
Due: none

remove duplicated before_script
  .gitlab-ci.yml
Due: install, components lint, components-storybook lint, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references, suite-web lint, suite-web build, suite-web deploy dev

fix dev server url
  .gitlab-ci.yml
Due: install, components lint, components-storybook lint, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references, suite-web lint, suite-web build, suite-web deploy dev

fix menu
  packages/suite/src/components/wallet/CoinMenu/index.tsx
  packages/suite/src/views/wallet/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

move config to app, refactor a bit
  packages/suite/src/components/suite/Layout/index.tsx
  packages/suite/src/components/wallet/CoinMenu/index.tsx
  packages/suite/src/config/app.ts
  packages/suite/src/config/suite/app.ts
  packages/suite/src/utils/suite/l10n.ts
  yarn.lock
Due: suite-web lint, suite-web build, suite-web deploy dev

remove leftovers
  packages/suite/src/components/wallet/Divider/index.tsx
  packages/suite/src/constants/wallet/coins.ts
Due: suite-web lint, suite-web build, suite-web deploy dev

Make onboarding work. Some refactoring still to come
  packages/suite/src/actions/onboarding/connectActions.ts
  packages/suite/src/actions/onboarding/newsletterActions.ts
  packages/suite/src/components/onboarding/UnexpectedState/index.tsx
  packages/suite/src/reducers/onboarding/connectReducer.ts
  packages/suite/src/reducers/onboarding/index.ts
  packages/suite/src/types/onboarding/connect.ts
  packages/suite/src/views/onboarding/index.tsx
  packages/suite/src/views/onboarding/steps/Backup/Container.ts
  packages/suite/src/views/onboarding/steps/Bookmark/Container.ts
  packages/suite/src/views/onboarding/steps/Connect/Container.ts
  packages/suite/src/views/onboarding/steps/Firmware/Container.ts
  packages/suite/src/views/onboarding/steps/Hologram/Container.ts
  packages/suite/src/views/onboarding/steps/Name/Container.ts
  packages/suite/src/views/onboarding/steps/Newsletter/Container.ts
  packages/suite/src/views/onboarding/steps/Pin/Container.ts
  packages/suite/src/views/onboarding/steps/Pin/index.tsx
  packages/suite/src/views/onboarding/steps/SelectDevice/Container.ts
  packages/suite/src/views/onboarding/steps/Start/Container.ts
Due: suite-web lint, suite-web build, suite-web deploy dev

lint
  packages/suite/src/components/wallet/CoinMenu/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

removed unused props
  packages/suite/src/components/wallet/CoinMenu/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

add imports
  tsconfig.json
Due: none

remove proptypes
  packages/suite/src/components/wallet/CoinMenu/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

add jest import
  packages/suite/jest.config.js
Due: suite-web lint, suite-web build, suite-web deploy dev

move summary tab to separate folder
  packages/suite/src/views/wallet/account/index.tsx
  packages/suite/src/views/wallet/account/summary/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

fix ts types; remove unused prop
  packages/suite/src/components/wallet/TopNavigation/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

types now must be correct in components-storybook
  .gitlab-ci.yml
Due: install, components lint, components-storybook lint, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references, suite-web lint, suite-web build, suite-web deploy dev

refactor SuiteHeader
  packages/suite/src/components/suite/Layout/index.tsx
  packages/suite/src/components/suite/SuiteHeader/index.tsx
  packages/suite/src/views/suite/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

fix coinmenu width
  packages/suite/src/views/wallet/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

layout with coinmenu
  packages/suite/src/components/wallet/CoinMenu/index.tsx
  packages/suite/src/components/wallet/Divider/index.tsx
  packages/suite/src/components/wallet/Layout/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

align deviceMenu with coinMenu
  packages/suite/src/components/suite/SuiteHeader/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

add box shadow; remove right border
  packages/suite/src/components/suite/DeviceMenu/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

responsive sidebar
  packages/suite/src/actions/suite/constants/suite.ts
  packages/suite/src/actions/suite/suiteActions.ts
  packages/suite/src/components/suite/Layout/index.messages.ts
  packages/suite/src/components/suite/Layout/index.tsx
  packages/suite/src/components/wallet/Layout/components/Sidebar/index.tsx
  packages/suite/src/components/wallet/Layout/index.tsx
  packages/suite/src/reducers/suite/suite.ts
Due: suite-web lint, suite-web build, suite-web deploy dev

fix ts types in @trezor/components/header
  packages/components/src/components/Header/index.tsx
Due: install, components lint, components-storybook lint, components-storybook build, components-storybook deploy dev, components-storybook test snapshots, components-storybook make snapshot references

split middlewares
  packages/suite-desktop/babel.config.js
  packages/suite-native/babel.config.js
  packages/suite-web/babel.config.js
  packages/suite/src/middlewares/suite/index.ts
  packages/suite/src/middlewares/suite/log.ts
  packages/suite/src/middlewares/suite/suite.ts
  packages/suite/src/reducers/store.ts
  tsconfig.json
Due: suite-web lint, suite-web build, suite-web deploy dev

add backdrop when sidebar opened
  packages/suite/src/components/suite/Backdrop/index.tsx
  packages/suite/src/components/wallet/Layout/components/Sidebar/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

prevent bg scrolling when sidebar opened
  packages/suite/src/components/wallet/Layout/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

fix ts types
  packages/suite/src/components/wallet/Layout/components/Sidebar/index.tsx
  packages/suite/src/components/wallet/Layout/index.tsx
Due: suite-web lint, suite-web build, suite-web deploy dev

Path conditions:
  install: any of: packages/components/**/*, .gitlab-ci.yml
  components lint: any of: packages/components/**/*, packages/components-storybook/**/*, .gitlab-ci.yml
  components-storybook lint: any of: packages/components/**/*, packages/components-storybook/**/*, .gitlab-ci.yml
  components-storybook build: any of: packages/components/**/*, packages/components-storybook/**/*, .gitlab-ci.yml
  components-storybook deploy dev: any of: packages/components/**/*, packages/components-storybook/**/*, .gitlab-ci.yml
  components-storybook test snapshots: any of: packages/components/**/*, packages/components-storybook/**/*, .gitlab-ci.yml
  components-storybook make snapshot references: any of: packages/components/**/*, packages/components-storybook/**/*, .gitlab-ci.yml
  suite-web lint: any of: packages/suite/**/*, packages/suite-web/**/*, .gitlab-ci.yml
  suite-web build: any of: packages/suite/**/*, packages/suite-web/**/*, .gitlab-ci.yml
  suite-web deploy dev: any of: packages/suite/**/*, packages/suite-web/**/*, .gitlab-ci.yml
